<h3 class="bg-warning bg-opacity-25 text-danger w-75">フリマサイト「ウレテクレ（売れてくれ）」とは</h3>

<div>
  フリマサイト「ウレテクレ」は、<br>
  出品されたすべての商品が「売れる」ことを目指すサイトです
</div>

<div class="fs-3 fw-bold bg-success bg-opacity-25 border mt-3 ms-3 p-2 w-75">
  ～出品から取引完了までの流れ～
  <div class="fs-5 mt-2">
    1.出品者が商品を出品<br>
    
    >> 2.出品中の商品がサイトに掲載される<br>
    
    >> 3.他のユーザーが商品を購入<br>

    >> 4.出品者が商品を発送<br>

    >> 5.商品が購入者のもとに届く<br>
    
    >> 6.購入者が出品者を評価
  </div>
</div>
