<footer class="bg-body-tertiary text-center text-lg-start">
  <div class="text-center p-3" style="background-color: rgba(0, 0, 0, 0.05);">
    © 2004 Copyright: Nintendo<br>
    © 2004 Copyright: Pokemon<br>
    © 2025 Copyright: Takenori Inoue<br>
  </div>
</footer>
